/**
 * @name        Mindspike
 * @author      Avidya (@solitai7e)
 * @description Inspired by https://corru.observer/
 * @version     1.1
 */

 @import url("https://raw.githubusercontent.com/CosmicMan08/mindspike-discord-theme/master/mindspike.css");

